body {
    background: url('../images/bgImg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

.menuWrap {
    width: 100%;
    height: 79px;
    /*background-color: #3C3F41;*/
    background: linear-gradient(to top, #3C3F41 0%, #5d6062 100%);
    padding: 0;
}

a.logo {
    float: left;
    font-variant: small-caps;
    display: block;
    border: 0;
    text-decoration: none;
    
    height: 75px;
    width: 75px;
    margin-top: 3px;
    margin-left: 20%;
    background-image: url(../images/logo.png);
}

a.lin:hover, a.lin:active { /*нажали мышкой/навели мышкой*/
    float: left;
    font-variant: small-caps;
    display: block;
    border: 0;
    text-decoration: none;
    
    height: 75px;
    width: 130px;
    margin-top: 2px;
    margin-left: 0;
    color: white;
    font-size: 25px;
    text-align: center;
    background: radial-gradient(ellipse, black, #66696b);
    border-radius: 10px;
    line-height: 70px;
}
a.lin:link, a.lin:visited { /*посещенная и не посещенная*/
    float: left;
    font-variant: small-caps;
    display: block;
    border: 0;
    text-decoration: none;
    
    height: 75px;;
    width: 130px;
    margin-top: 2px;
    margin-left: 0;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 70px;
}

.mainInfo {
    width: 80%;
    margin: auto;
    background-color: #EDEEEA;
    margin-top: 0;
    padding-top: 0;
}

img.full {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 0;
}

.mainTd {
    padding: 0;
    margin: 0;
    
}

#welcome {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-size: 30px;
    font-family: Tahoma;
}

div.divText {
    margin-left: 20px;
    margin-right: 40px;
}

.textIndex {
    font-size: 23px;
    color: #6a5444;
}

hr.bold {
    border: none;
    background-color: grey; /* Цвет линии */
    color: grey; /* Цвет линии для IE6-7 */
    height: 3px;
}

hr.line {
    margin-top: 0;
}

h2.space {
    margin-bottom: 0px;
}

img.newsMain {
    height: 120px;
    width: 120px;
    float: left;
    margin-top: 12px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.text {
    font-size: 15px;
    color: #745E4E;
}

.downPanel {
    margin-top: 120px;
    background: linear-gradient(to top, #000000 0%, #272725 100%);
    height: 70px;
}

.textDown {
    color: #464644;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 75px;
    padding-top: 15px;
    font-size: 14px;
}

a.vkImg {
    margin-left: 10px;
    height: 28px;
    width: 28px;
    float: left;
    display: block;
    border: 0;
    background-image: url(../images/vk.png);
}
a.steamImg {
    float: left;
    display: block;
    border: 0;
    text-decoration: none;
    
    margin-left: 10px;
    height: 28px;
    width: 28px;
    background-image: url(../images/st.png);
}
a.twitterImg {
    float: left;
    display: block;
    border: 0;
    text-decoration: none;
    
    margin-left: 10px;
    height: 28px;
    width: 28px;
    background-image: url(../images/tw.png);
}
a.fbImg {
    float: left;
    display: block;
    border: 0;
    text-decoration: none;
    
    margin-left: 10px;
    height: 28px;
    width: 28px;
    background-image: url(../images/fb.png);
}
.gmailImg {
    float: left;
    display: block;
    border: 0;
    text-decoration: none;
    
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background-image: url(../images/gmail.png);
}

.year {
    padding: 0;
    margin: 0;
    color: #464644;
    font-size: 14px;
    margin-right: 50px;
}

.mailText {
    font-size: 23px;
    color: black;
    text-decoration: underline;
}

*{
    font-family: Areal;
}
.b-container{
    width:200px;
    height:200px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:350px; /*высота и ширина самого окна*/
    height: 385px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

topWindowPanel {
    border: 0;
    background-color: #464646;
    width: 100%;
    height: 30px;
    padding: 0;
    margin: 0;
}

a.cancelImg {
    display: block;
    border: 0;
    text-decoration: none;
    
    height: 25px;
    width: 25px;
    background-image: url(../images/cancel.png);
}

topPanel {
    background-color: #646464;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

colum1 {
    height: 100%;
    width: 80%;
}

colum2 {
    height: 100%;
    width: 20%;
}