*{
    font-family: Areal;
    margin: 0;
    padding: 0;
}
body {
    background: url('../images/bgImg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    margin: 0;
}

.head {
    width: 100%;
    height: 79px;
    background: linear-gradient(to top, #3C3F41 0%, #5d6062 100%);
    padding: 0;
    margin: 0;
}

.head ul {
    margin: 0;
    padding: 0; 
}

.head ul li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

a.lin:hover, a.lin:active { /*нажали мышкой/навели мышкой*/
    float: left;
    font-variant: small-caps;
    display: block;
    border: 0;
    text-decoration: none;
    
    height: 75px;
    width: 130px;
    margin-top: 2px;
    margin-left: 0;
    color: white;
    font-size: 25px;
    text-align: center;
    background: radial-gradient(ellipse, black, #66696b);
    border-radius: 10px;
    line-height: 70px;
}
a.lin:link, a.lin:visited { /*посещенная и не посещенная*/
    float: left;
    font-variant: small-caps;
    display: block;
    border: 0;
    text-decoration: none;
    
    height: 75px;;
    width: 130px;
    margin-top: 2px;
    margin-left: 0;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 70px;
}

table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

a.logo {
    float: left;
    display: block;
    border: 0;
    text-decoration: none;
    
    height: 75px;
    width: 75px;
    margin-top: 3px;
    margin-left: 20%;
    background-image: url(../images/logo.png);
}

.mainBody {
    display: block;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    /*margin-left: 10%;*/
    background-color: #EDEEEA;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

img.full {
    height: 100%;
    width: 100%;
    margin: 0;
}

#welcome {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-size: 30px;
    font-family: Tahoma;
}

div.divText {
    display: block;
    height: 150px;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 10px;
}
div.divTextContact {
    display: block;
    height: 350px;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 10px;
}
article.divText {
    display: block;
    height: 170px;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.textIndex {
    font-size: 23px;
    color: #6a5444;
    margin-top: 10px;
}

hr.bold {
    border: none;
    background-color: grey; /* Цвет линии */
    color: grey; /* Цвет линии для IE6-7 */
    height: 3px;
}

hr.line {
    margin-top: 0;
}

h2.space {
    margin-bottom: 0px;
}

img.newsMain {
    height: 120px;
    width: 120px;
    float: left;
    margin-top: 12px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.text {
    font-size: 15px;
    color: #745E4E;
    margin-top: 10px;
}

.downPanel {
    background: linear-gradient(to top, #000000 0%, #272725 100%);
    height: 70px;
    width: 80%;
    margin: auto;
}

.textDown {
    color: #464644;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 15px;
    font-size: 14px;
}

a.vkImg {
    margin-left: 10px;
    height: 28px;
    width: 28px;
    float: left;
    display: block;
    border: 0;
    background-image: url(../images/vk.png);
}
a.steamImg {
    float: left;
    display: block;
    border: 0;
    text-decoration: none;
    
    margin-left: 10px;
    height: 28px;
    width: 28px;
    background-image: url(../images/st.png);
}
a.twitterImg {
    float: left;
    display: block;
    border: 0;
    text-decoration: none;
    
    margin-left: 10px;
    height: 28px;
    width: 28px;
    background-image: url(../images/tw.png);
}
a.fbImg {
    float: left;
    display: block;
    border: 0;
    text-decoration: none;
    
    margin-left: 10px;
    height: 28px;
    width: 28px;
    background-image: url(../images/fb.png);
}
.gmailImg {
    float: left;
    display: block;
    border: 0;
    text-decoration: none;
    
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background-image: url(../images/gmail.png);
}
a.TwitchImg {
    float: left;
    display: block;
    border: 0;
    text-decoration: none;
    
    margin-left: 10px;
    height: 28px;
    width: 28px;
    background-image: url(../images/twitch28.png);
}
a.YouTubeImg {
    float: left;
    display: block;
    border: 0;
    text-decoration: none;
    
    margin-left: 10px;
    height: 28px;
    width: 28px;
    background-image: url(../images/YouTube28.png);
}

.year {
    padding: 0;
    margin: 0;
    color: #464644;
    font-size: 14px;
    margin-right: 50px;
}

.mailText {
    font-size: 23px;
    color: black;
    text-decoration: underline;
}

.b-container{
    width:200px;
    height:200px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:350px; /*высота и ширина самого окна*/
    height: 400px;
    padding: 0;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.topWindowPanel {
    border-radius: 5px;
    background-color: #464646;
    width: 330px;
    height: 30px;
    padding: 10px;
    margin: 0;
}
.topWindowPanel li {
    width: 50%;
    list-style: none;
    display: inline-block;
    float: left;
    color: white;
    font-size: 20px;
    font-family: Tahoma;
}

a.cancelImg {
    float: right;
    display: block;
    border: 0;
    text-decoration: none;
    
    height: 25px;
    width: 25px;
    background-image: url(../images/cancel1.png);
}

#form {
    padding: 10px;
}

.submitButton {
    margin-top: 5px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

/*выпадающее меню*/
ul.dropdown li { position: relative; }
ul.dropdown, ul.dropdown-inside {list-style-type: none; padding: 0;}
ul.dropdown-inside {
     border-radius: 5px;
     margin-top: 77px;
     margin-left: 17px;
     position: absolute;
     left: -9999px;
 }
ul.dropdown-inside a {padding: 3px 10px 4px;}
ul.dropdown li.dropdown-top {display: inline; float: left;}
ul.dropdown li.dropdown-top a {display: block; color: white; text-decoration: none;}
ul.dropdown li.dropdown-top:hover .dropdown-inside {display: block; left: 0;}
ul.dropdown .dropdown-inside { background: linear-gradient(to top, #3C3F41 0%, #5d6062 100%); }/*цыет фона*/
ul.dropdown .dropdown-inside a:hover {
    background: radial-gradient(ellipse, black, #66696b);
    border-radius: 5px;
    text-decoration: underline;
}